@import "tailwindcss";

:root {
  --background: #f4ece2;
  --foreground: #171717;
  /* Ajout de altground pour souligner message utilisateur */
  --altground: #a78a7f;
  /* ajout des couleurs de texte pour pouvoir les appliquer sur les éléments sans passer dans les balises */
  --color-primary-text: #3c2e2a;
  --color-primary-red: #8c1c13;
}

@theme {
  --breakpoint-md: 830px;
  --color-primary-text: #3c2e2a;
  --color-secondary-text: #a78a7f;
  --color-background-charte: #f4ece2;
  --color-primary-red: #8c1c13;
  --color-secondary-red: #bf4342;
}

@theme {
  --color-foreground: var(--foreground);
  --font-display-title: "Inter", sans-serif;
  --font-display: "Roboto", sans-serif;
  --font-display-light: "Roboto", sans-serif;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* utilisation de altground */
  --color-altground: var(--altground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Roboto", "Inter", sans-serif;
}

p {
  color: var(--color-primary-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary-red);
}
