.editor-content ul {
	list-style-type: disc;
	padding-left: 1.5rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.editor-content li {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

.editor-content h1,
.editor-content h2,
.editor-content h3,
.editor-content h4 {
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	font-weight: 600;
}
.editor-content {
	/* min-height: inherit; */
}
.editor-content .tiptap.ProseMirror {
	/* border: 1px solid red; */
	min-height: inherit;
}
.tiptap p.is-editor-empty:first-child::before {
	color: #adb5bd;
	content: attr(data-placeholder);
	float: left;
	height: 0;
	pointer-events: none;
}
